/*  Cambio il modo in cui l'immagine del profilo Facebook viene visualizzata nel
    programma a seconda della grandezza del display  */

@media screen and (max-width: 600px) {
    .header-profilepicture img {
        width:20%;
        height:auto;
        top:0;
        left:0;
        float:left;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        position: absolute;
        z-index:20;
        -webkit-border-radius: 7px;-moz-border-radius: 7px;
        border-radius: 7px;
        display:none;
        box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    }
    
    .header-profilepicture-withBar img {
        width:20%;
        height:auto;
        top:0;
        left:0;
        float:left;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 43px;
        position: absolute;
        z-index:20;
        -webkit-border-radius: 7px;-moz-border-radius: 7px;
        border-radius: 7px;
        display:none;
        box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    }
}

@media screen and (min-width: 600px){
    .header-profilepicture img {
        width:20%;
        height:auto;
        top:0;
        left:0;
        float:left;
        margin-bottom: 5px;
        margin-left: 15px;
        margin-right: 5px;
        margin-top: 15px;
        position: absolute;
        z-index:20;
        -webkit-border-radius: 7px;-moz-border-radius: 7px;
        border-radius: 7px;
        display:none;
        box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    }
    
    .header-profilepicture-withBar img {
        width:20%;
        height:auto;
        top:0;
        left:0;
        float:left;
        margin-bottom: 5px;
        margin-left: 15px;
        margin-right: 5px;
        margin-top: 51px;
        position: absolute;
        z-index:20;
        -webkit-border-radius: 7px;-moz-border-radius: 7px;
        border-radius: 7px;
        display:none;
        box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    }

}

/* Setta il fondale per tutte le schede disponibili al momento */
#homePage, #cityPage, #poiPage, #mapCityPage, #mapPoiPage, #geoPage, #optionsPage, #loginPage, #loginPageEmail, #creditsPage {
    background-image:url('images/alu_1.jpg');
    background-size: cover;
}

/* Cambio colore alle label del programma */
.vocabulary {
    color: #333;
    text-shadow: 5px 3px 6px rgba(150, 150, 150, 0.4);
    font-family: source-sans-pro, sans-serif !important;
    size: 1.3em;
}

#splashPage{
    background-image:url('images/alu_1.jpg');
    background-size: cover;
}

.form_login_email, #form_login_email_signin, #form_login_email_register {
    border-radius: 7px;
    border-color: #222;
}

.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c {
    font-family: source-sans-pro, sans-serif;
}

/* Setto le ombre sui box delle città e dei PoI */
.city-list {
    -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
}

.poi-list {
    -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
}

.list-title {
/* background: url('images/cf10_bis.jpg'); */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee9b40), color-stop(100%,#f2b24b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ee9b40 0%,#f2b24b 100%); /* Chrome10+,Safari5.1+ */
}



/* ------------------------------------------------------- */
/*  Creo la tabella dentro la div che fa da FOOTER.
    Anche in questo caso si usa il selector @media per avere
    una barra un po' più grande sui dispositivi come i tablet */

#tabellaFooter {
border: 1px solid #999999;
width: 100%;
height: 64px;
/*background: url('images/footer_bg_64px.jpg'); */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
vertical-align:middle;
border: 0px solid #000;
}

#tabellaFooter td
{
    text-align:center;
    vertical-align:middle;
}

/* Creo il div FOOTER*/
.myFooter {
	width:100%;
	height:63px !important;
	position:fixed;
	bottom:0;
	left:0;
	z-index: 12;
}

@media screen and (max-width: 600px) {
    .myFooter {
        height:55px !important;
    }

    #tabellaFooter {
        height: 56px;
    }
}


/* ------------------------------------------------------- */
/*  Sistemo l'animgif AJAX */
.ui-icon.ui-icon-loading {background: url('images/ajax-loader.gif');}
.ui-loader-default {
    opacity:1.0;
    width: 50px;
    height: 50px;
    top: 65%;
    border: 1px solid #aaa;
    /*background-color: #888;*/
    background-image: url('images/alu_2.jpg');
    background-size: cover;
    padding: 6px;
    -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
}
/* ------------------------------------------------------- */


.city-list, .poi-list{
    -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
}

/* Di conseguenza, creo un po' di padding in basso al content per permettere che si veda interamente */
.ui-content{
    padding-bottom: 72px;
    padding-top: 0px;
}

/* ------------------------------------------------------- */
/*  Dimensione dei caratteri nei bottoni principali
 
    Configuro il tutto con il selector @media per permettere di vedere differentemente
    a seconda della grandezza del dispositivo. Più o meno credo di aver fatto centro con le 
    misure */
@media screen and (max-width: 600px){
    .ui-li-heading {
        font-size: 1.0em;
        color:#111;
        text-shadow: 3px 3px 6px #bbb;
        font-family: source-sans-pro;
        }
}

@media screen and (min-width: 600px){
    .ui-li-heading {
        font-size: 1.5em;
        color:#111;
        text-shadow: 3px 3px 6px #bbb;
        font-family: source-sans-pro;

    }
}
/* ------------------------------------------------------- */



/* Sistemo un po' le immagini delle città e dei punti d'interesse*/
.ui-li-thumb, .ui-listview .ui-li-icon {
    position: absolute;
    left: 5px;
    top: 5px;
    max-height: 4.2em;
    box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    border-radius: 7px;

}


/* La riga sotto viene aggiunta per segare una barra orribile che crea jQuery: eseguo un override*/
.ui-bar-d{
    border: 0px solid #fff !important;
}

.header {
    
}

.header-logo {
    width:80px;
    height:80px;
    float:right;
    background-image:url('images/logo-grandtour.png');
    background-size:80px 80px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.header-search {
    width:12em;
    position:relative;
    right:1em;
    float:right
}

.ui-page {
    /*-webkit-backface-visibility: hidden;*/
}

#splashScreenPage {
    /*height:100%;
    width:100%;*/
    background-image:url('images/logo-grandtour.png');
    background-position: center;
    background-repeat: no-repeat;
}

div.loginButton{
    width:100%;

    text-align:center;
    margin-top:30px;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    /*background-color:#F00;*/

    /*height:40px;*/
}

div.loginFacebook{
}
img.loginFacebook{
    width:100%;
    -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    border-radius: 7px;
}

div.loginGplus{
}
img.loginGplus{
    width:100%;
    -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    border-radius: 7px;
}

div.loginEmail{
}
img.loginEmail{
    width:100%;
    -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    border-radius: 7px;
}

div#login_options{
    /*border:1px solid #999;*/
    padding: 10px;
    width:(100%-20px);
    text-align:center;
    margin-top:10px;
}

div.form_login_email{
    border:1px solid #999;
    padding: 10px;
    width:(100%-20px);
    text-align:center;
    margin-top:10px;
}

div.banner
{   position:relative;
    width: 100%;
}

div.banner img
{   width:100%;
}


.list-title
{   text-align: center;
    text-shadow: 3px 3px 3px #999;
}

/* ------------------------------------------------------- */
/* Sistemazione della scritta dei filmati gratuiti in base
    alle dimensioni dello schermo, grazie al selector: @media */

#free_poi_disclaimer {
    text-align: center;
    font-weight: bold;
    color: #ff0;
    /*  Il text shadow di seguito serve per ottenere un effetto di outline
     ma solo sui browser WebKit-based; */
    text-shadow:
    -1px -1px 0 #444,
    1px -1px 0 #444,
    -1px 1px 0 #444,
    1px 1px 0 #444;
    
    /*text-shadow: 3px 3px 5px #444;*/
    padding: 3% 2% 3% 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    border: 1px solid #444;
    border-radius: 7px;
    -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee9b40), color-stop(100%,#f2b24b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ee9b40 0%,#f2b24b 100%); /* Chrome10+,Safari5.1+ */
    
}

@media screen and (max-width: 600px){
    #free_poi_disclaimer
    {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 600px){
    #free_poi_disclaimer
    {
        font-size: 1.9em;
    }
}
/* ------------------------------------------------------- */


/* ------------------------------------------------------- */
/*  Dopo molti tentativi, riesco a cambiare l'immagine delle
    dannatissime freccie ai lati della listview            */

@media screen and (max-width: 600px) {
    .ui-listview .ui-btn .ui-btn-inner .ui-icon-arrow-r {
        background-color: #ee9b40 !important;
        border: 1px solid #999;
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    }
}


@media screen and (min-width: 600px){
    .ui-listview .ui-btn .ui-btn-inner .ui-icon-arrow-r {
        width: 28px;
        height:28px;
        border-radius: 18px;
        background-image: url('images/arrow_2.png') !important;
        background-repeat: no-repeat !important;
        background-position: center;
        right: 20px;
        margin-top: -20px;
        background-color: #ee9b40 !important;
        border: 1px solid #999;
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        /*  La riga sotto sistema errori di visualizzazione su iPhone e iPad*/
        background-size: 13px 19px;
    }
}
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/*  Sistemazione dei bottoni di controllo dei filmati       
    Sono i bottoni che compaiono quando si entra nei PoI   */

@media screen and (max-width: 600px) {
    .ui-icon-play_film {
        background-image: url('images/play_film-18.png');
        height: 32px;
        width: 32px;
        background-color: transparent;
        margin-top: -12px !important;
        border-radius: 0px !important;
    }
    .select_play {
        color: #111;
        font-size: 1em;
        text-shadow: 3px 3px 6px #bbb;
    }
    
    .ui-icon-buy_film {
        background-image: url('images/buy_film-18.png');
        height: 32px;
        width: 32px;
        background-color: transparent;
        margin-top: -12px !important;
        border-radius: 0px !important;
    }
    
    .select_buy {
        color: #111;
        font-size: 1em;
        text-shadow: 3px 3px 6px #bbb;
    }
}

@media screen and (min-width: 600px) {
    #play-button span.ui-btn-inner {
        /* Fondale dei bottoni */
        background-image: url('images/cinema.png');
        background-position:right center;
        background-repeat:no-repeat;
        height: 90px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: #eee;
        }
    
    /*a#play-button.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-icon-left.ui-btn-up-c {
        margin-left: 20px;
        margin-right: 20px
        }*/
    
    .ui-icon-play_film {
        background-image: url('images/play_film-48.png');
        height: 48px;
        width: 48px;
        background-color: transparent;
        margin-top: -27px !important;
        margin-left: 15px;
        border-radius: 0px !important;
        
        }
    
    .select_play {
        color: #111;
        font-size: 2em;
        text-shadow: 3px 3px 6px #bbb;
        line-height: 2.6em;
        font-family: source-sans-pro;
        }
    
    #play-button {
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    
    }
 /* ----------------- bottone di acquisto-------*/
    #buy-button span.ui-btn-inner {
        /*background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 65%,rgba(242,178,75,0.8) 80%,rgba(238,155,64,1) 100%);*/
        background-image: url('images/buy.png');
        background-position:right center;
        background-repeat:no-repeat;
        height: 90px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: #eee;
    }
    
    /*a#buy-button.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-icon-left.ui-btn-up-c {
        margin-left: 20px;
        margin-right: 20px
    }*/
    
    .ui-icon-buy_film {
        background-image: url('images/buy_film-48.png');
        height: 48px;
        width: 48px;
        background-color: transparent;
        margin-top: -27px !important;
        margin-left: 15px;
        border-radius: 0px !important;
        }
 
    .select_buy {
        color: #111;
        font-size: 2em;
        text-shadow: 3px 3px 6px #bbb;
        line-height: 2.6em;
        font-family: source-sans-pro;
    }
    
    #buy-button {
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    }
}
/* ------------------------------------------------------- */
/*  Settaggio del bottone della mappa sulla schermata dei PoI */

 @media screen and (min-width: 600px) {
    .ui-icon-map_marker {
        background-image: url('images/map_marker-48.png');
        height: 48px;
        width: 48px;
        background-color: transparent;
        margin-top: -27px !important;
        margin-left: 15px;
        border-radius: 0px !important;
    }
    
    #map_poi_button div.ui-btn {
        background-image: url('images/mappa.png');
        background-position:right center;
        background-repeat:no-repeat;
        height: 90px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: #eee;
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        

    }
 
    #map_poi_button span.vocabulary {
        color: #111;
        font-size: 2em;
        text-shadow: 3px 3px 6px #bbb;
        line-height: 2.6em;
        font-family: source-sans-pro;
    }
    
    #poiPage .ui-content .ui-select {
        margin-bottom: 25px;
    }
    
}

/* ------------------------------------------------------- */
/*  Settaggio del bottone della lingua sulla schermata 
    iniziale */

@media screen and (max-width: 600px) {
	#temporary_language-button .ui-icon {
   		background-color: white;
    	background-image: url('images/language-18.png');
   		background-position: 4px 2px;
  		width: 25px;
    	height: 25px;
    	border-radius: 15px;
    	margin-top: -14px;
    	background-color:#ccc;
    	box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    	/*  La riga sotto serve per evitare errori di rendering su iPad e iPhone*/
    	background-size: 18px 18px;
	}
    
    #temporary_language-button {
        box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        background-image: url('images/itaflag-18.png');
        background-position:12px center;
        background-repeat:no-repeat;
    }
}

@media screen and (min-width: 600px) {
    #temporary_language-button .ui-icon {
   		background-color: white;
    	background-image: url('images/language-18.png');
   		background-position: 6px 2px;
  		width: 36px;
    	height: 36px;
    	border-radius: 18px;
    	margin-top: -19px;
    	background-color:#ccc;
    	box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    	/*  La riga sotto serve per evitare errori di rendering su iPad e iPhone*/
	background-size: 28px 28px;
        
	}
    
	#temporary_language-button {
	/*background-color: #ccc;*/
	height: 60px;
        background-image: url('images/world_flags.png');
        background-position: 12px center;
        background-repeat: no-repeat;
        box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);

	}
    
	#temporary_language-button .ui-btn-text {
		font-size: 2.2em;
		font-family: source-sans-pro;
        
	}
}


/* ------------------------------------------------------- */

@media screen and (max-width: 600px) {
    .ui-icon-map_marker {
        background-image: url('images/map_marker-18.png');
        height: 32px;
        width: 32px;
        background-color: transparent;
        margin-top: -12px !important;
        border-radius: 0px !important;
    }
}

/* ------------------------------------------------------- */
/*  Setto il contatore dei punti di interesse per renderlo
    più affine al resto dell'interfaccia.
    Anche in questo caso vado a fare uso del selettore @media
    per rendere il tutto più omogeneo su dispositivi di una 
    certa grandezza. */

.ui-page .ui-content .ui-listview .ui-li-count {
    background: #888;
    color: #fff;
    text-shadow: 1px 1px 1px #444;
    right: 34px;
    margin-top: -8px;
    text-align:center;
}

@media screen and (min-width: 600px){
    .ui-page .ui-content .ui-listview .ui-li-count {
        right: 70px;
        width: 20px;
        height: 20px;
        font-size: 1.0em;
        margin-top: -18px;
        text-align:center;
        /*vertical-align:middle;*/
        padding: 0.2em;
    }
}

/* ------------------------------------------------------- */



/*
li:nth-child(odd):not(.ui-li-divider), li:nth-child(odd):not(.ui-li-divider) a {
    background-color: #ddd !important;
}
span.ui-icon.ui-icon-arrow-r { z-index: 10; }
*/


/* ------------------------------------------------------- */
/*  Sistemazione degli header in base alla grandezza del dispositivo
    grazie al selector @media */

div.title_city, div.title_poi
{   position:absolute;
    left:25%;
    top:10%;
    text-shadow: 3px 3px 3px #000;
    letter-spacing:1px;
    color: #ddd;
    font-family: source-sans-pro;


}

@media only screen and (MAX-width: 767px){
    div.title_city, div.title_poi
      {
        font-size:1.3em;
      }
}


@media only screen and (min-width: 768px) and (max-width: 956px){
    div.title_city, div.title_poi
      {
        font-size:2em;
      }
}


@media only screen and (min-width: 957px){
    div.title_city, div.title_poi
      {
        font-size:2.7em;

      }
}
/* ------------------------------------------------------- */
/*  Facciamo comparire un effetto grafico quando l'utente
    preme un bottone nella barra footer */
.ui-link > img:active {
    background-color: rgba(255, 153, 0, 0.5);
    size: 40px 40px;
    -webkit-border-radius: 7px;-moz-border-radius: 7px;
    border-radius: 7px;
}

/* ------------------------------------------------------- */
/*  Sistemiamo il bottone della mappa nella schermata dei 
    PoI della città.
    Ne sistemiamo tutte e due le versioni col selector @media */

@media screen and (min-width: 600px){
    .city-map-click div.ui-btn.ui-btn-up-c.ui-shadow.ui-btn-corner-all {
        background-image: url('images/mappa.png');
        background-position:right center;
        background-repeat:no-repeat;
        height: 74px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: #eee;
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);

    }
    .city-map-click span.vocabulary{
        color: #111;
        font-size: 1.6em;
        text-shadow: 3px 3px 6px #bbb;
        line-height: 2.1em;
        font-family: source-sans-pro;
    }
   

}

@media screen and (max-width: 600px){
    .city-map-click div.ui-btn.ui-btn-up-c.ui-shadow.ui-btn-corner-all {
        background-image: url('images/mappa.png');
        background-position:right center;
        background-repeat:no-repeat;
        height: 44px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: #eee;
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        border-radius: 7px;

    }
    
    .city-map-click span.vocabulary{
        color: #111;
        font-size: 1.4em;
        text-shadow: 3px 3px 6px #bbb;
        line-height: 1.1em;
        font-family: source-sans-pro;
    }
}

/* ------------------------------------------------------- */
/*  Styling della pagina delle opzioni generali
    Ho usato il selector @media per fare due layout diversi
    a seconda del dispositivo come al solito.   */
 

@media screen and (min-width: 600px){
    #optionsPage a#select-choice-language-button.ui-btn.ui-btn-up-c.ui-shadow.ui-btn-corner-all.ui-btn-icon-right{
        background-image: url('images/world_flags.png');
        background-position:12px center;
        background-repeat:no-repeat;
        height: 74px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: #eee;
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        font-size: 1.6em;
        line-height: 2.1em;
        font-family: source-sans-pro;
        border-radius: 18px;
    }
    
    #optionsPage .ui-content span.ui-btn-text{
        font-size: 2.3em;
        line-height: 1.5em;
        font-family: source-sans-pro;
    }

    #optionsPage .ui-content span.ui-icon.ui-icon-arrow-d.ui-icon-shadow {
        background-color: #eee;
    	background-image: url('images/language-18.png');
   		background-position: 6px 2px;
  		width: 36px;
    	height: 36px;
    	border-radius: 18px;
    	margin-top: -19px;
    	background-color:#ccc;
    	box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    	/*  La riga sotto serve per evitare errori di rendering su iPad e iPhone*/
        background-size: 28px 28px;
    }
    
    
    #optionsPage .ui-content .ui-btn.ui-btn-up-c.ui-shadow.ui-btn-corner-all.ui-btn-icon-left {
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    }
    
    #optionsPage .ui-content span.ui-icon.ui-icon-gear.ui-icon-shadow {
    	background-image: none ;
    	background-color:transparent;
    }
    
    #save-button {
        background-image: url('images/floppy.png');
        opacity: 1.0;
        background-position: 16px center;
        background-repeat: no-repeat;
        background-size: 48px 48px;
    }
    
     #save-button .ui-btn-inner {
        background-color:#eee;
    }
     
     #restore-IAPS-button {
         background-image: url('images/restore-48.png');
         opacity: 1.0;
         background-position: 16px center;
         background-repeat: no-repeat;
         background-size: 48px 48px;
     }
     
     #restore-IAPS-button .ui-btn-inner {
         background-color:#eee;
     }
     
  

    
}

@media screen and (max-width: 600px){
    #optionsPage .ui-content span.ui-icon.ui-icon-arrow-d.ui-icon-shadow {
        background-color: white;
        background-image: url('images/language-18.png');
        background-position: 4px 2px;
        width: 25px;
        height: 25px;
        border-radius: 15px;
        margin-top: -14px;
        background-color:#ccc;
        box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        /*  La riga sotto serve per evitare errori di rendering su iPad e iPhone*/
        background-size: 18px 18px;
  }
    
    #optionsPage .ui-content .ui-btn.ui-btn-up-c.ui-shadow.ui-btn-corner-all.ui-btn-icon-left {
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    }
    
    

    #optionsPage a#select-choice-language-button.ui-btn.ui-btn-up-c.ui-shadow.ui-btn-corner-all.ui-btn-icon-right{
        background-image: url('images/itaflag-18.png');
        background-position:12px center;
        background-repeat:no-repeat;
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    }
    
    #optionsPage .ui-content span.ui-icon.ui-icon-gear.ui-icon-shadow {
    	background-image: none ;
    	background-color:transparent;
    }
    
    #save-button {
        background-image: url('images/floppy-18.png');
        opacity: 1.0;
        background-position: 14px center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
    }
    
    #save-button .ui-btn-inner {
        background-color:#eee;
    }
  
  #restore-IAPS-button {
      background-image: url('images/restore-18.png');
      opacity: 1.0;
      background-position: 14px center;
      background-repeat: no-repeat;
      background-size: 20px 20px;
  }
  
  #restore-IAPS-button .ui-btn-inner {
      background-color:#eee;
  }


}

#optionsPage .ui-content span.ui-slider-label.ui-slider-label-a.ui-btn-active.ui-btn-corner-all {
    -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
}

#optionsPage .ui-content span.ui-slider-label.ui-slider-label-b.ui-btn-down-c.ui-btn-corner-all {
    -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
}

.ui-loader-background {
    width:100%;
    height:100%;
    top:0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    position: fixed;
    z-index:100;
}

.ui-loading .ui-loader-background {
    display:block;
}

/* ------------------------------------------------------- */
/*  Sistemo le label dei crediti                           */

@media screen and (min-width: 600px){
    #credits-button  {
        background-image: url('images/logo-grandtour.png');
        opacity: 1.0;
        background-position: 16px center;
        background-repeat: no-repeat;
        background-size: 48px 48px;
    }
}

@media screen and (max-width: 600px) {
    #credits-button {
        background-image: url('images/credits-18.png');
        opacity: 1.0;
        background-position: 14px center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
    }

}


@media screen and (min-width: 600px){
    .credits h1 {
        color:#eee;
        text-shadow:
        -1px -1px 0 #444,
        1px -1px 0 #444,
        -1px 1px 0 #444,
        1px 1px 0 #444;
        font-size:1.9em;
        text-align:center;
    }

    .credits li {
        font-size:1.6em;
        color:#444;
        list-style-type: none;
        text-shadow: none !important;
        font-variant:small-caps;
    }
    .credits h1 {
        color:#eee;
        text-shadow:
        -1px -1px 0 #444,
        1px -1px 0 #444,
        -1px 1px 0 #444,
        1px 1px 0 #444;
        font-size:2.6em;
        text-align:center;
    }
    
    .credits table {
        width: 90%;
        margin:0px auto;
    }
    
    .credits .colDestra {
        text-align:left;
        font-size:2.2em;
        color:#444;
        list-style-type: none;
        text-shadow: none !important;
        font-variant:small-caps;
        padding-left:10px;
        font-weight:bold;
    }
    .credits .colSinistra {
        text-align:right;
        font-size:1.9em;
        color:#444;
        list-style-type: none;
        text-shadow: none !important;
        width: 50%;
    }
    
    .credits td {
        vertical-align:top;
    }

}

@media screen and (max-width: 600px){
    .credits h1 {
        color:#eee;
        text-shadow:
        -1px -1px 0 #444,
        1px -1px 0 #444,
        -1px 1px 0 #444,
        1px 1px 0 #444;
        font-size:1.4em;
        text-align:center;
    }
    
    .credits table {
        width: 100%;
        margin:0px auto;
    }
    
    .credits .colDestra {
        text-align:left;
        font-size:1.1em;
        color:#444;
        list-style-type: none;
        padding: 0px;
        text-shadow: none !important;
        font-variant:small-caps;
        padding-left:10px;
        font-weight:bold;
    }
    .credits .colSinistra {
        text-align:right;
        font-size:1.0em;
        color:#444;
        list-style-type: none;
        padding: 0px;
        text-shadow: none !important;
        width: 50%;
    }
    
    .credits td {
        vertical-align:top;
    }
}



/* ------------------------------------------------------- */
/*  Sistemo le label della schermata delle opzioni         */
@media screen and (min-width: 600px){
    #optionsPage .ui-content  label.select.ui-select {
        font-weight: bold;
        font-size: 2em;
        margin-top: 20px;
    }
    
    #optionsPage .ui-content label#slider-subtitles-label.ui-slider{
        font-weight: bold;
        font-size: 2em;
        margin-top: 20px;
    }

    #optionsPage .ui-content #app_info {
        font-weight: bold;
        font-size: 2em;
        margin-top: 60px;
        text-shadow: none !important;
    }
}

@media screen and (max-width: 600px){
    #optionsPage .ui-content  label.select.ui-select {
        font-weight: bold;
        font-size: 1.0em;
        margin-top: 10px;
    }
    
    #optionsPage .ui-content label#slider-subtitles-label.ui-slider{
        font-weight: bold;
        font-size: 1.0em;
        margin-top: 10px;
    }
    
    #optionsPage .ui-content #app_info {
        font-weight: bold;
        font-size: 1.0em;
        margin-top: 20px;
        text-shadow: none !important;
    }
    
}
/* ------------------------------------------------------- */
/*  Sistemo le schermate di Google Maps                    */
/* ------------------------------------------------------- */
@media screen and (max-width: 600px){
    #geoPage .ui-content div#map_geolocal_canvas {
        margin-top: 30px;
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    }
    
    #mapPoiPage .ui-content div#map_poi_canvas {
        margin-top: 30px;
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    }

    #mapCityPage .ui-content div#map_city_canvas {
        margin-top: 30px;
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    }
}

@media screen and (min-width: 600px){
    #geoPage .ui-content div#map_geolocal_canvas {
        height: 630px !important;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    }

    #mapPoiPage .ui-content div#map_poi_canvas {
        height: 630px !important;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    }

    #mapCityPage .ui-content div#map_city_canvas {
        height: 630px !important;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    }
}
/* ------------------------------------------------------- */
/*  Ingrandisco i campi e i bottoni nel login via email    */
/*  ma solo su schermi grandi                              */
/* ------------------------------------------------------- */

@media screen and (min-width: 600px){
    form.frm.clearfix {
        font-size: 1.8em;
    }
    
    #loginPageEmail .ui-content .ui-btn-inner {
        font-size:0.8em;
    }
    
    #loginPageEmail input#email_signin.ui-input-text.ui-body-c {
        font-size: 0.7em;
    }

    #loginPageEmail input#password_signin.ui-input-text.ui-body-c {
        font-size: 0.7em;
    }
    
    #loginPageEmail input#email_signup.ui-input-text.ui-body-c {
        font-size:0.7em;
    }
    
    #loginPageEmail input#email_signup_confirm.ui-input-text.ui-body-c {
        font-size:0.7em;
    }
    
    #loginPageEmail input#password_signup.ui-input-text.ui-body-c {
        font-size:0.7em;
    }
    
    #loginPageEmail input#password_signup_confirm.ui-input-text.ui-body-c {
        font-size:0.7em;
    }
    
    #loginPageEmail .form_login_email .btn-area div.ui-submit.ui-btn.ui-btn-up-e.ui-shadow.ui-btn-corner-all{
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    }
    
    #loginPageEmail .form_login_email .btn-area div.ui-submit.ui-btn.ui-btn-up-c.ui-shadow.ui-btn-corner-all{
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    }
    
    #loginPageEmail .form_login_email div.ui-submit.ui-btn.ui-btn-up-c.ui-shadow.ui-btn-corner-all {
        margin-top:30px;
    }
    
    #loginPageEmail .form_login_email div.ui-submit.ui-btn.ui-btn-up-c.ui-shadow.ui-btn-corner-all {
         margin-top:30px;
    }
    
    #loginPageEmail .form_login_email div.ui-submit.ui-btn.ui-btn-up-e.ui-shadow.ui-btn-corner-all {
        margin-top: 50px;
    }
    
    #loginPageEmail .form_login_email div.ui-submit.ui-btn.ui-btn-up-e.ui-shadow.ui-btn-corner-all {
        margin-top: 50px;
    }

}

@media screen and (max-width: 600px){
    #loginPageEmail .form_login_email .btn-area div.ui-submit.ui-btn.ui-btn-up-e.ui-shadow.ui-btn-corner-all{
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    }
    
    #loginPageEmail .form_login_email .btn-area div.ui-submit.ui-btn.ui-btn-up-c.ui-shadow.ui-btn-corner-all{
        -webkit-box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:    4px 4px 13px 0px rgba(0, 0, 0, 0.6);
        box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.6);
    }


    #loginPageEmail .form_login_email div.ui-submit.ui-btn.ui-btn-up-c.ui-shadow.ui-btn-corner-all {
        margin-top:18px;
    }

    #loginPageEmail .form_login_email div.ui-submit.ui-btn.ui-btn-up-c.ui-shadow.ui-btn-corner-all {
        margin-top:18px;
    }

    #loginPageEmail .form_login_email div.ui-submit.ui-btn.ui-btn-up-e.ui-shadow.ui-btn-corner-all {
        margin-top: 26px;
    }

    #loginPageEmail .form_login_email div.ui-submit.ui-btn.ui-btn-up-e.ui-shadow.ui-btn-corner-all {
        margin-top: 26px;
    }
}

/* ------------------------------------------------------- */
/*  Gestione del fieldset nel pannello opzioni             */
/* ------------------------------------------------------- */

.ui-mobile fieldset {
    border: 1px solid #777;
    padding: 8px;
    margin-top: 5px;
    border-radius: 7px;
    box-shadow:         4px 4px 13px 0px rgba(0, 0, 0, 0.4);
}


/* ------------------------------------------------------- */
/*  Gestione del link SKIP LOGIN nel primo pannello        */
/* ------------------------------------------------------- */

@media screen and (max-width: 600px){
    #loginPage a.ui-link {
        text-decoration:none;
        font-weight:none;
    }
}

@media screen and (min-width: 600px){
    #loginPage a.ui-link {
        text-decoration:none;
        font-size: 26px;
        font-weight:none;
    }
}

/* ------------------------------------------------------- */
/*  Gestione della scritta di salvataggio opzioni          */
/* ------------------------------------------------------- */
@media screen and (max-width: 600px){
    #options-WRAPPER-NOLOGIN {
        text-align: center;
        color: rgb(200,40,40);
        font-size: 16px;
        font-weight:bold;
        text-shadow:
        -1px -1px 0 #eee,
        1px -1px 0 #eee,
        -1px 1px 0 #eee,
        1px 1px 0 #eee;
    }
}

@media screen and (min-width: 600px){
    #options-WRAPPER-NOLOGIN {
        text-align: center;
        color: rgb(200,40,40);
        font-size: 30px;
        font-weight:bold;
        text-shadow:
        -1px -1px 0 #eee,
        1px -1px 0 #eee,
        -1px 1px 0 #eee,
        1px 1px 0 #eee;
    }
}

