@font-face {
  font-family: HelveticaNeue;
  src: url("HelveticaNeue-Thin.otf") format("opentype");
}

html, body {
    font-weight: 300;
    background-color:#2F6A92!important;
}

.header {
    text-align: center;
    background-color:#2F6A92;
    height: 60px;
    display: relative;
}

.back-icon, .info-icon, .close-icon {
    position: absolute;
    top:0;
    left:0;
}

.map-icon, .view-icon-circle, .view-icon-list, .list-icon, .share-icon {
    position: absolute;
    top:0;
    right:0;
}

.icon a img {
    height: 40px;
    margin: 10px;
}

.ui-bar-a {
    background-image: none!important;
    background-color:#2F6A92;
    border: none!important;
}

.ui-body-c {
    background-image: none!important;
    background-color:#2F6A92;
}

h1 {
    font-family: HelveticaNeue, "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
    font-size: 22px!important;
    margin: 0!important;
    line-height: 40px;
    font-weight: normal;
    text-shadow: none;
    color: #fff;
}

h2 {
    font-family: HelveticaNeue, "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
    font-style: italic;
    font-size: 14px!important;
    font-weight: normal;
    padding: 0!important;
    margin: 0!important;
    text-shadow: none;
    color: #fff;
}

h6 {
    font-family: HelveticaNeue, "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
    font-style: italic;
    font-size: 11px;
    font-weight: normal;
}

#map_city_canvas {
  /*border-radius: 100%;*/
}
#map_shop_canvas {
  border-radius: 100%;
}

.shop_contacts{
  width: 100%;
  text-align: center;
}

.shop_contacts img, .info_contacts img {
  width: 10%;
  border: 1px solid #fff!important;
  border-radius: 50%;
  margin: 2%;
}

.info_contacts {
  text-align: center;
}

.shop-details, .info-details {
  font-family: HelveticaNeue, "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
  text-shadow: none;
  color: #fff;
}

.shop-details #shop_name, .shop-details #shop_address, .shop-details #shop_slogan {
  text-align: center;
}

.shop_detail_single {
  /*visibility: hidden;*/
}

.shop_details_tile, .info_details_tile {
  font-weight: bold;

}


.ui-li {
  border: none;
  padding: 0;
  background-image: none;
  background-color: #2F6A92;
  text-shadow: none;
}

li.ui-btn {
  height
}

a.ui-link-inherit {
  border-bottom: 1px solid #fff;
  padding: 0!important;
  color: #fff!important;
  font-style: normal!important;
  font-weight: normal!important;
  text-decoration: none;
  font-family: HelveticaNeue, "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
}

.ui-li-heading {
  font-style: normal;
  font-weight: normal;
}

.ui-icon {
  box-shadow: none;
  border: 1px solid #fff;
  background-color: #2F6A92;
  width: 16px;
  height: 16px;

  bottom: 0;
  margin-top: auto!important;
  margin-bottom: 16px;
}

h3.ui-li-heading {
  line-height: 38px;
  padding-left : 10px;
  font-weight: bold;
}

.ui-li-desc {
  padding-left : 10px;
}

.region-city-visual {
  height: 76px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}

.region-city-visual-slider {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  border-radius: 50%;
}


.consiglia-button-wrapper {
  text-align: center;
  padding: 10%;
}

.consiglia-button {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.consiglia-button a {
  color: #2F6A92!important;
  text-decoration: none;
}

#owl-demo {
    position: relative;
}
#owl-demo .item {
  font-family: HelveticaNeue, "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
  color: #fff;
  background: #2F6A92;
  padding: 30px 30px;
  margin: 10px;
  text-align: center;
  height: 250px;
  text-shadow: none;
}
.owl-theme .owl-controls .owl-page span{
  background-color: #fff;
}


.owl-item a {
  font-family: HelveticaNeue, "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
  color: #fff;
  font-style: none;
  font-weight: normal;
  text-decoration: none;
}