@font-face {
  font-family: HelveticaNeue;
  src: url("HelveticaNeue-Thin.otf") format("opentype");
}
@font-face {
  font-family: HelveticaNeueItalic;
  src: url("HelveticaNeue-Italic.otf") format("opentype");
}
@font-face {
  font-family: HelveticaNeueCondensedItalic;
  src: url("HelveticaNeue-LightCondObl.otf") format("opentype");
}
@font-face {
  font-family: HelveticaLightItalic;
  src: url("Helvetica-LightOblique.otf") format("opentype");
}
@font-face {
  font-family: HelveticaNeueBold;
  src: url("helvetica-neue-bold.otf") format("opentype");
}


html, body {
    font-weight: 300;
    background-color:#2F6A92!important;a
}

.header {
    text-align: center;
    background-color:#2F6A92;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.ui-content {
  margin: 60px 0 0 0;
}

#homePage .header {
    height: 70px;
}
#homePage .ui-content {
  margin: 70px 0 0 0;
}

#mapCityPage .header {
  height: 55px;
}
#mapCityPage .ui-content {
  margin: 40px 0 0 0;
}

.back-icon, .info-icon, .close-icon {
    position: absolute;
    top:10px;
    left:0;
}

.map-icon, .view-icon-circle, .view-icon-list, .list-icon, .share-icon {
    position: absolute;
    top:10px;
    right:0;
}

/*
.icon a{
  font-size: 70px;
}

.icon a:active{
  background-color: rgba(255, 255, 255, 0.5);
}
*/

.icon a img {
    height: 28px;
    margin: 6px 8px;
}

.info-icon a img {
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.ui-bar-a {
    background-image: none!important;
    background-color:#2F6A92;
    border: none!important;
}

.ui-body-c {
    background-image: none!important;
    background-color:#2F6A92;
}

h1 {
    font-family: HelveticaNeue, "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
    font-size: 26px!important;
    margin: 0!important;
    line-height: 40px;
    font-weight: normal;
    text-shadow: none;
    color: #fff;
    margin-top: 10px!important;
}

h2 {
    font-family: HelveticaNeue, "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
    font-style: oblique;
    font-size: 14px!important;
    font-weight: normal;
    padding: 0!important;
    margin: 0!important;
    text-shadow: none;
    color: #fff;
}

.shop-details h2 {

}

h2.app-slogan {
    margin-top: -8px!important;
}

credits h2 {
    font-size: 12px!important;
}

h6 {
    font-family: HelveticaNeue, "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
    font-style: oblique;
    font-size: 11px;
    font-weight: normal;
}

#map_city_canvas {
  height: 100%;
  width: 100%;
  position: absolute!important;
  height: 100%!important;
}

#map_shop_canvas_container {
  position: relative;
  padding: 0 30px;
}

#map_shop_mask {
  z-index: 19;
  pointer-events: none;
  background-image:url('images/map_shop_mask.png');
  position: absolute;
  background-size: 100%;
}

#map_shop_canvas {
  z-index: 10;

  /*
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  */
}

.map_thumbnail {
  position: absolute;
  right: 20px;
  bottom: 25px; 
  width: 75px;
  height: 75px;
  border: 1px solid #fff!important;
  border-radius: 50%;
  z-index: 30;
  background-size: cover;
}

#map_thumbnail_foto {
  display: none;
}

#map_thumbnail_map {
  display: none;
  background-image:url('images/thumbnail_maps.png');
}

#foto_shop {
  display: none;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.content-full-width {
  padding: 15px 0;
}


.shop_contacts{
  width: 100%;
  text-align: center;
  margin: 10px;
}

.shop_contacts img, .info_contacts img {
  width: 10%;
  border: 1px solid #fff!important;
  border-radius: 50%;
  margin: 2%;
}

.info_contacts {
  text-align: center;
}

.shop-details, .info-details {
  font-family: HelveticaNeue, "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
  text-shadow: none;
  color: #fff;
  padding: 0 15px;
}

.shop-details {
  padding: 0 15px 50px 15px;
}
.info-details {
  padding: 0;
}

.shop-details #shop_name, .shop-details #shop_address, .shop-details #shop_slogan {
  text-align: center;
}

.shop_name {
  line-height: 60px;
}

.shop_detail_single {
  display: none;
}

.shop_details_tile, .info_details_tile {
  font-weight: bold;
}
  
.shop_details_tile {
  margin-top: 20px;
}

#shop_address {
  font-family: HelveticaNeue, "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
  font-size: 12px!important;
  margin: -4px 0 14px 0!important;
  font-style: normal;
}

.info_detail_single p {
    margin-top: 0;
}

.ui-li {
  border: none;
  padding: 0;
  background-image: none;
  background-color: #2F6A92;
  text-shadow: none;
}

li.ui-btn {
  height
}

a.ui-link-inherit {
  padding: 0!important;
  color: #fff!important;
  font-style: normal!important;
  font-weight: normal!important;
  text-decoration: none;
  font-family: HelveticaNeue, "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
  
}

.border-bottom {
  border-bottom: 1px solid #fff;
  margin: 0 0 0 10px;
}

.ui-li-heading {
  font-style: normal;
  font-weight: normal;
}

.ui-icon {
  box-shadow: none;
  border: 1px solid #fff;
  background-color: #2F6A92;
  width: 10px;
  height: 10px;

  bottom: 0;
  margin-top: auto!important;
  margin-bottom: 22px;
}

.city-list .ui-icon, .poi-list .ui-icon  {
  margin-bottom: 32px;
}

h3.ui-li-heading {
  font-family: HelveticaNeueBold, "HelveticaNeueBold", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
  line-height: 38px;
  padding-left : 10px;
  font-size: 18px;
  /*font-weight: bold;*/
}

.ui-li-desc {
  padding-left : 10px;
}

.region-city-visual {
  height: 105px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}

.region-city-visual-slider {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  border-radius: 50%;
}

.region-city-text, .shop-city-text {
  height: 64px;
}


.region-list h3.ui-li-heading {
  line-height: 32px;
}

.region-city-text h3.ui-li-heading, .shop-city-text  h3.ui-li-heading {
  line-height: 16px;
}


.shop-city-visual {
  display: none;
  height: 105px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}

.consiglia-button-wrapper {
  text-align: center;
  padding: 10%;
}

.consiglia-button {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.consiglia-button a {
  color: #2F6A92!important;
  text-decoration: none;
}

#owl-demo-region, #owl-demo-shop {
    position: relative;
}
#owl-demo-region .item {
  font-family: HelveticaNeue, "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
  color: #fff;
  background: #2F6A92;
  padding: 10px 30px 30px 30px;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  height: 250px;
  text-shadow: none;
}
.owl-theme .owl-controls .owl-page span{
  background-color: #fff;
  width: 8px;
  height: 8px;
  margin: 4px 4px;
}

.owl-item a {
  font-family: HelveticaNeue, "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
  color: #fff;
  font-style: none;
  font-weight: normal;
  text-decoration: none;
}

#shopPage #slider_container {
  position: relative;
  display: none;
  z-index: 29;
  background-color: #2F6A92;
  height: 300px;
}

#owl-demo-shop img {
  width: 100%;
}

#owl-demo-shop .shop-slider {
  height: 300px;
  background-size: cover;
  background-position: center;
}

#owl-demo-shop .owl-controls {
  margin: -20px 0;
}

.shops_counter {
  margin-top: -0;
  font-weight: normal;
  font-size: 14px;
}

.owl-controls.clickable {
  position: fixed;
  width: 100%;
}

#splash_big_logo {
  width:100%;
  height:100%;
  min-height:400px;
  position:relative;
  text-align:center;
}

#splash_big_logo img {
  display:block;
  margin-left: auto;
  margin-right:auto;
  width: 50%;
  margin-top: 80px;
}

.map_marker_content a {
  font-family: HelveticaNeueBold, "HelveticaNeueBold", Helvetica, Arial, "Lucida Grande", sans-serif!important;
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

.map_marker_content a img {
  width: 20px;
  height: 20px;
  margin: 0 0 0 10px;
  float: right;
}

#gallery_list {
  margin: 0;
}